@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');
@import "partials/root";
@import "partials/reduced-motion";

.is-dark-theme.is-dark-theme {
    --global--color-background: rgba(var(--rgb-natthimmel), 0.95) !important;
    /* --global--color-primary: var(--global--color-light-gray);
    --global--color-secondary: var(--global--color-light-gray);
    --button--color-text: var(--global--color-background);
    --button--color-text-hover: var(--global--color-secondary);
    --button--color-text-active: var(--global--color-secondary);
    --button--color-background: var(--global--color-secondary);
    --button--color-background-active: var(--global--color-background);
    --global--color-border: #9ea1a7;
    --table--stripes-border-color: rgba(240, 240, 240, 0.15);
    --table--stripes-background-color: rgba(240, 240, 240, 0.15); */
}

body,
main {
    font-family: var(--global--font-primary-child);
    transition: 0.2s;
}

body.home.custom-background {
    background-color: var(--clr-skog-ljus);
}

.aligndefault {
    max-width: var(--responsive--aligndefault-width);
}

.header-bar {
    width: 100%;
    background-color: var(--clr-skog-ljus);
    /* position: fixed; */
    top: var(--global--admin-bar--height);
    left: 0;
    right: 0;
    z-index: 200;
    /* box-shadow: 0 6px 4px -3px rgba(0, 0, 0, 0.10); */
}

.is-dark-theme .header-bar {
    background-color: var(--clr-nattmossa);
}

.top-navigation {
    background-color: #ffffff;
}

.is-dark-theme .top-navigation {
    background-color: var(--clr-natthimmel);
}

.top-navigation a {
    text-decoration: none !important;
    padding: 0px var(--primary-nav--padding);
}

.is-dark-theme svg .h {
    fill: var(--clr-videort);
}

.top-navigation>div>.menu-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: var(--global--spacing-vertical);
    list-style: none;
    max-width: none;
    font-size: smaller;
    letter-spacing: 1px;
    padding: var(--primary-nav--padding) 2rem;
}

.primary-navigation>div>.menu-wrapper {
    gap: 1rem;
    font-weight: bolder;
    font-size: medium;
    letter-spacing: 1px;
}

.site-header {
    max-width: 100%;
    padding: 0px 3rem;
}

.site-branding {
    margin: 0px;
}

.site-logo {
    width: 250px;

    svg {
        .hammaroenergi__logoText {
            fill: var(--clr-natthimmel);
        }

        .hammaroenergi__logoSymbol {
            fill: var(--clr-mossa);
        }
    }
}

.is-dark-theme .site-logo svg .hammaroenergi__logoText,
.is-dark-theme .site-logo svg .hammaroenergi__logoSymbol {
    fill: #ffffff;
}

.frontpage-header-text {
    position: absolute;
    top: 3rem;
    left: 3rem;
    margin-top: 0px;
    padding: 4rem 3rem;
    color: #ffffff;
    height: auto;
    width: calc(100vw - 6rem);
    max-width: 900px;
    background-color: rgba(var(--rgb-nattmossa), 0.85);

    h1 {
        margin: 0px;
        padding: 0px;
        line-height: 1;
        font-weight: 600;

        &>span {
            display: block;
            color: var(--clr-videort);
        }
    }

    p {
        padding: var(--global--spacing-vertical) 0;
        font-size: x-large;
        line-height: 1.5;
    }

    .button {
        background-color: #ffffff;
        color: var(--clr-nattmossa);
        border-radius: 50px;
        text-transform: uppercase;
        margin-top: 1rem;
    }
}

.home {
    .entry-header {
        position: relative;
        max-height: 700px;
        height: 100vh;
        overflow: hidden;
        border-bottom: var(--theme-border-style) !important;
        padding-bottom: 0px !important;

        .post-thumbnail {
            width: 100%;
            height: 100%;
            margin-bottom: 0px;

            img {
                height: 100% !important;
                max-width: 100% !important;
                object-fit: cover;
            }
        }
    }

    .post-thumbnail .wp-post-image {
        margin-top: 0px;
    }

    .entry-content {
        margin-top: 0px !important;
        padding-top: calc(var(--global--spacing-vertical) * 3);
    }

    .site-content {
        padding-top: 0px;

        .post-edit-link {
            background-color: var(--clr-skog-ljus);
            color: var(--clr-natthimmel);
        }

        .site-main {
            padding-top: 0px;
        }
    }
}

.site-content {
    position: relative;
    z-index: 1;
    padding-top: calc(var(--global--spacing-vertical) * 3);

    .post-edit-link {
        font-size: 16px;
        background-color: var(--clr-klippa-ljus);
        color: var(--clr-klippa);
        padding: 0.3rem 1.5rem;
        margin-top: 1rem;
        display: inline-block;
        text-decoration: none;
        border-radius: 20px;
        transition: 0.5s;

        &:hover {
            background-color: var(--clr-nattmossa);
            color: var(--clr-klippa-ljus);
            border-radius: 10px;
        }
    }

    .forminator-button {
        background-color: var(--clr-nattmossa) !important;
    }
}

.singular .entry-header {
    border-bottom: none;
}

.entry-header .entry-title {
    font-size: var(--global--font-size-xl);
    font-weight: bold;
}

.is-dark-theme .linkblock {
    background-color: var(--clr-nattmossa);
}

.footer-wrapper {
    width: 100%;
    position: relative;
    border-top: 16px solid var(--clr-mossa);
    background-color: var(--clr-skog-ljus);
    z-index: 0;
    padding: 0 3rem;
    margin-top: 15rem;

    svg.footer-illustration {
        width: 100%;
        max-width: var(--responsive--alignwide-width);
        position: absolute;
        left: 50%;
        transform: translate(-50%, -69%);
        z-index: 0;
    }

    .site-footer {
        padding-bottom: calc(2.8 * var(--global--spacing-vertical));

        .footer-service {
            margin-top: 2rem;
            font-size: smaller;
            text-align: center;

            h4 {
                margin-bottom: 0.4rem;
            }
        }

        .footer-logo {
            width: auto;
            position: absolute;
            bottom: .7rem;
            left: 50%;
            transform: translate(-50%, 0);

            svg {
                height: 75px;
            }
        }
    }
}

.is-dark-theme .footer-wrapper {
    background-color: var(--clr-nattmossa);
}

/* Block styles */
@import "partials/blocks";

/* Media Queries */
@import "partials/media";