.hammaroenergi_journummer {
    padding: 2rem 2rem 2rem 2rem;
    background-color: var(--clr-videort);
    color: var(--clr-mossa);
    font-size: 1.1em;
    font-weight: bolder;
}

.is-dark-theme .hammaroenergi_journummer {
    background-color: var(--clr-mossa);
    color: var(--global--color-primary);
}

.hammaroenergi_journummer h4 {
    margin: 0px 0px 1.4rem 0px;
    color: var(--clr-nattmossa);
    font-size: 1.2em;
    font-weight: bold;
}

.is-dark-theme .hammaroenergi_journummer h4 {
    color: var(--global--color-primary);
}

.hammaroenergi_journummer p {
    margin: 0px;
}

/* STAFF / PERSONAL */

.hammaroenergi_personal {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat('auto-fit', 1fr);

    .personal__person {
        border-top: var(--theme-border-style);
        padding-top: 1.6rem;
        margin: 1rem 0 2rem 0;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;

        .personal__content {
            width: auto;
            margin-right: 1rem;
            word-break: break-word;
        }

        .personal__title {
            margin-bottom: 1rem;
        }

        .personal__image {
            max-width: 30%;
            min-width: 140px;
            margin-bottom: 1rem;

            img {
                height: auto !important;
            }
        }
    }

    .personal__title,
    .personal__phone,
    .personal__email {
        font-size: 0.9em;
    }

    &.personal__compact {

        .personal__person {
            border-top: none;
            padding: 0px;
            margin: 0px;
        }

        .personal__title,
        .personal__phone,
        .personal__email {
            font-size: 0.75em;
        }
    }
}

/* SERVICE */

.hammaroenergi_service .wp-block-media-text {
    padding: 0 0 3rem 0;
    grid-template-columns: 40% auto;

    .wp-block-media-text__content {
        padding-left: 10rem;
        padding-right: var(--global--spacing-vertical);
        font-weight: 400;

        h2 {
            font-weight: bold;
            line-height: 1.1;
            margin: 0rem 0rem 0.5rem 0rem;
        }

        .wp-block-media-text__pill {
            display: inline-block;
            padding: 0.5rem 1.5rem;
            margin: 0rem 0rem 1rem 0rem;
            background-color: var(--clr-videort);
            color: var(--clr-nattmossa);
            text-transform: uppercase;
            font-size: smaller;
            font-weight: 500;
            letter-spacing: 1px;
        }

        .wp-block-media-text__date {
            font-size: smaller;
            font-weight: bold;
            margin: 0rem;
        }

        .wp-block-media-text__excerpt {
            margin: 1rem 0rem 1rem 0rem;
        }

        .wp-block-media-text__links {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            font-weight: 700;
            margin: 2rem 0rem 0rem 0rem;
        }
    }

    &.has-media-on-the-right {
        grid-template-columns: auto 40%;

        .wp-block-media-text__content {
            padding-left: calc(var(--global--spacing-vertical) * 2);
            padding-right: 10rem;
        }
    }

    .wp-block-media-text__media {
        width: 100%;
        height: 100%;

        img {
            height: 100% !important;
            object-fit: cover;
            border-bottom: var(--theme-border-style);
        }
    }
}

.hammaroenergi_news {

    .wp-block-media-text__media {
        width: 100%;
        height: 100%;

        img {
            height: 100% !important;
            object-fit: cover;
        }
    }

    .wp-block-media-text__content {
        padding: calc(var(--global--spacing-vertical)*2) !important;
    }

    .wp-block-media-text__date {
        font-size: smaller;
        font-weight: bold;
        margin: 0rem;
    }

    .wp-block-media-text__excerpt {
        p, ul {
            margin: 1rem 0;
        }
    }

}

.hammaroenergi_faq {

    margin-bottom: 3rem;

    h4 {
        margin-bottom: 1.5rem;
    }

    hr {
        border-color: var(--clr-skog-ljus);
        margin: 0 auto 3rem auto;
        width: 60%;
    }

    summary {
        font-size: 1.25rem;
        font-weight: 600;
        background-color: #fff;
        color: #333;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        outline: none;
        border-radius: 0.25rem;
        text-align: left;
        cursor: pointer;
        position: relative;
        background-color: var(--clr-videort);

        &:focus,
        &:focus-visible,
        &:active {
            outline: 3px dotted var(--clr-nattmossa);
        }
    }

    details>summary::after {
        position: absolute;
        content: "+";
        right: 20px;
    }

    details[open]>summary::after {
        position: absolute;
        content: "-";
        right: 21px;
        margin-top: -4px;
        font-size: x-large;
    }

    details>summary::-webkit-details-marker {
        display: none;
    }

    details[open] summary~* {
        animation: sweep .3s ease-in-out;
    }

    .faq__content {
        padding: 0.5rem 1rem 2rem 1rem;
    }

}

.linkblock {
    background-color: var(--clr-videort);
    padding: var(--global--spacing-vertical);

    .wp-block-file {
        margin: calc(var(--global--spacing-vertical)/2) 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 0.5s ease;

        a {
            word-break: break-word;
        }

        .wp-block-file__content-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &:hover {
            background-color: var(--global--color-background);
            padding-left: calc(var(--global--spacing-vertical)/2);
        }

        .wp-block-file__button {
            font-size: smaller;
            min-width: fit-content;
            padding: calc(var(--button--padding-vertical)/2) calc(var(--button--padding-horizontal)/2);
        }
    }
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-top: -5px
    }

    100% {
        opacity: 1;
        margin-top: 0px
    }
}