@media (max-width: 481px) {

    .hammaroenergi_personal {
        .personal__person .personal__content {
            width: 100%;
            margin-right: 0;
        }
    }

    .site-header {
        gap: 0;
        padding: 0px;

        .primary-navigation {

            ul>li>a {
                padding: calc(1.25 * var(--primary-nav--padding)) var(--primary-nav--padding);
            }

            .sub-menu {
                border: none;
                margin-left: calc(var(--primary-nav--padding) * 1.5);
            }
        }

        .site-branding .site-logo,
        .primary-navigation,
        .primary-navigation .menu-button-container,
        .site-header.has-logo:not(.has-title-and-tagline).has-menu .site-logo {
            margin: 0px;
            padding-top: 0.75rem !important;
            padding-bottom: 0.75rem;
            position: relative !important;
            top: 0px !important;
        }

    }

    .singular .entry-header {
        padding-bottom: var(--global--spacing-vertical);
        margin-bottom: calc(var(--global--spacing-vertical) * 1.5);

        .frontpage-header-text {
            top: 2rem;
            left: 2rem;
            width: calc(100vw - 4rem);

            h1 {
                font-size: calc(var(--heading--font-size-h1) * 0.6);
            }
        }
    }

}

@media (max-width: 600px) {

    .home .entry-content {
        padding-top: 0px !important;
    }

    .singular .entry-header {
        .frontpage-header-text {
            p {
                font-size: large;
                line-height: 1.4;
            }
        }
    }

    .entry-content {
        .wp-block-media-text {
            .wp-block-media-text__content {
                padding: calc(var(--global--spacing-vertical) * 2) var(--global--spacing-vertical) !important;
            }
        }
    }

    .footer-wrapper {
        svg.footer-illustration {
            transform: translate(-50%, -67%);
        }
    }

}

@media (max-width: 768px) {

    .top-navigation>div>.menu-wrapper {
        padding: var(--primary-nav--padding) 1rem;
        gap: 0;
        row-gap: calc(var(--global--spacing-vertical) / 4);
        justify-content: center;
        font-size: small;

        li a {
            padding-top: calc(var(--global--spacing-vertical) / 4);
            padding-bottom: calc(var(--global--spacing-vertical) / 4);
        }
    }

    .site-header {
        justify-content: center;
        row-gap: 0;

        .site-branding {

            .site-logo {
                margin-bottom: 0px;
                width: 150px;
            }
        }

        .primary-navigation {
            margin: 0px 0px calc(var(--global--spacing-vertical) / 2) 0px;

            &>div>.menu-wrapper {
                gap: 0;
                font-weight: normal;
                font-size: large;
            }
        }
    }

    .hammaroenergi_service .wp-block-media-text {
        grid-template-columns: 35% auto;

        &.has-media-on-the-right {
            grid-template-columns: auto 35%;
        }
    }

    .singular .entry-header {
        padding-bottom: var(--global--spacing-vertical);
        margin-bottom: calc(var(--global--spacing-vertical) * 1.5);

        .frontpage-header-text {
            padding: 3rem 2rem;

            h1 {
                font-size: calc(var(--heading--font-size-h1) * 0.7);
            }

            .button {
                margin-top: 0px
            }
        }
    }

    .hammaroenergi_personal {
        grid-template-columns: 1fr;
    }

    .site-content {
        padding-top: calc(var(--global--spacing-vertical) * 2);

        .entry-content {
            padding-top: calc(var(--global--spacing-vertical) * 1.5);

        }
    }

    .footer-wrapper {
        svg.footer-illustration {
            transform: translate(-50%, -66%);
        }
    }

}

@media only screen and (min-width: 940px) {
    :root {
        --responsive--aligndefault-width: min(calc(100vw - 8 * var(--global--spacing-horizontal)), 940px);
    }

    .primary-navigation>div>.menu-wrapper {
        gap: 0.4rem;
    }

    .footer-wrapper {
        svg.footer-illustration {
            transform: translate(-50%, -65%);
        }
    }
}

@media (max-width: 1024px) {
    .singular .entry-header {

        .frontpage-header-text {
            h1 {
                font-size: calc(var(--heading--font-size-h1) * 0.8);
            }

            .wp-block-button a {
                font-size: calc(var(--button--font-size) * 0.8);
            }
        }
    }

    .hammaroenergi_personal {
        grid-template-columns: 1fr 1fr;

        .personal__email,
        .personal__phone {
            font-size: 0.9em;
        }
    }

    .entry-content {
        .wp-block-media-text {

            .wp-block-media-text__content {
                padding-left: calc(var(--global--spacing-vertical) * 2);
                padding-right: calc(var(--global--spacing-vertical) * 2);
            }
        }
    }

    .footer-wrapper {
        svg.footer-illustration {
            transform: translate(-50%, -64%);
        }
    }

}

@media only screen and (min-width: 1441px) {
    .primary-navigation>div>.menu-wrapper {
        font-size: x-large;
    }

    .footer-wrapper {
        svg.footer-illustration {
            top: -224px;
            transform: translate(-50%, 0);
        }
    }
}