:root {
    --global--font-primary-child: var(--font-headings, 'Roboto', sans-serif);
    --global--font-family-child: var(--global--font-primary-child);
    --global--font-size-xl: 3.5rem;
    --global--font-size-base: 1.35rem;
    --global--line-height-body: 1.5;
    --primary-nav--font-family: var(--global--font-primary-child);
    --primary-nav--font-weight: 900;
    --primary-nav--font-size: 100%;
    --heading--font-family: var(--global--font-primary-child);

    --clr-nattmossa: #12332d;
    --rgb-nattmossa: 18, 51, 45;
    --clr-mossa: #227c6e;
    --rgb-mossa: 34, 124, 110;
    --clr-skog: #52b99e;
    --rgb-skog: 82, 185, 158;
    --clr-skog-ljus: #d7e7de;
    --rgb-skog-ljus: 215, 231, 222;
    --clr-klippa: #777774;
    --rgb-klippa: 119, 119, 116;
    --clr-klippa-ljus: #e3e2dd;
    --rgb-klippa-ljus: 227, 226, 221;
    --clr-videort: #fece63;
    --rgb-videort: 254, 206, 99;
    --clr-natthimmel: #1d1d1b;
    --rgb-natthimmel: 29, 29, 27;

    --global--color-primary: var(--clr-nattmossa);
    --entry-header--color: var(--global--color-primary);
    /* --wp--style--color--link: var(--clr-nattmossa); */


    --theme-border-style: 25px solid var(--clr-videort);
}